{% extends "layouts/main.html" %}


/* el atributo name tiene que se igual que el de la bdb */

{% block content %}
        <form action="" class="px-5 background "  method="POST">
            {% csrf_token%}
            <h1 class="titulo-form">Nuevo Paquete</h1>
            {% if paquete is not None %}
                <input type="hidden" value="{{paquete.id}}" name="id">
            {% endif %}
            
            <div class="form-group text-form my-3">
                <label for="">Titulo</label>
                <input type="text" class="form-control" name="titulo" placeholder="ingresa el titulo"
                {% if paquete is not None %}
                    value="{{paquete.titulo}}"
                {% endif %}
                >
            </div>
            

            <div class="form-group text-form my-3">
                <label for="">Descripcion</label>
                <textarea class="form-control" name="descripcion" id="">{% if paquete is not None %}{{paquete.descripcion}}{% endif %}
                </textarea>
            </div>

            <div class="form-group text-form my-3">
                <label for="">Precio</label>
                <input type="text" class="form-control" name="precio" placeholder="precio"
                {% if paquete is not None %}
                    value="{{paquete.precio}}"
                {% endif %}>
            </div>
            <button class="btn button my-4" type="submit"> Enviar </button>
        </form>
  
{% endblock %}